/* app css stylesheet */

.phoneList {

}

.phoneList li {
	list-style: none;
	display: block;
	height: 120px;
	border: 1px solid #ddd;
  	border-radius: 4px;
  	margin-bottom: 10px;
}

.phoneList li .phoneName {
	vertical-align: top;
}

.phoneList li .thumb{
	width: 100px;
	height: 100px;
	float: left;
	display: block;
	margin-right: 10px;
}

.phoneList li .thumb img {
	max-width: 100%;
}

