<div class="row">
    <div class="col-md-2">
	      <!--Sidebar content-->
		Search: <input ng-model="query">
		<select ng-model="orderProp">
		  <option value="name">name</option>
		  <option value="age">age</option>
		</select>
	</div>
	<div class="col-md-10">
		<ul class="phoneList">
			<li ng-repeat="phone in phonesList | filter:query | orderBy:orderProp" class="phone-listing" >
			    <a href="#/phones/{{phone.id}}" class="thumb">
			    	<img ng-src="{{phone.imageUrl}}">
			    </a>
	            <a class="phoneName" href="#/phones/{{phone.id}}">{{phone.name}}</a>
	            <p>{{phone.snippet}}</p>
			</li>
		</ul>
	</div>
</div>